body {
	background-color: #ffffb7;
}

.content-container {
	text-align: center;
	margin: 20px 50px 20px 50px;
}

header {
	text-align: center;
	background-color: #6cf;
	padding: 10px;
}

header, section {
	margin-bottom: 20px;
}

h1 {
	font-weight: bolder;
}

#instruction-section {

}

#play-section {

}

.game-panel {
	position: relative;
	text-align: center;
	width: 375px;
	height: 300px;
	padding: 10px;
	border: 5px double red;
	border-radius: 3px;
}

#p1-panel {
	float: left;
}

#mid-panel {
	margin: auto;
}

#p2-panel {
	float: right;
}

.block { /*helper class*/
	display: block;
}

.hidden { /*helper class*/
	display: none;
}

#player1-name, #player2-name {
	font-size: 30px;
}

.p-choice {
	cursor: pointer;
	height: 125px;
	margin: 2px;
}

#player1-choice, #player2-choice {
	height: 250px;
	max-width: 350px;
	margin: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}

#p1-visible-message, #p2-visible-message {
	font-size: 50px;
}

#player1-stats, #player2-stats {
	position: absolute;
	bottom: 5px;
	left: 35%;
}

#result-banner {
	font-size: 50px;
}

#chat-section {
	margin-top: 30px;
}

#log-wrapper {
	text-align: left;
	display: inline-block;
}

#chat-log {
	/*text-align: left;*/
	overflow-y: scroll;
	background-color: white;
	width: 600px;
	height: 175px;
	padding: 5px;
	border: 1px solid gray;
	margin: 5px auto 10px auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}